services:
  prometheus:
    image: prom/prometheus:latest
    container_name: project-4-monitoring-prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - monitoring

  grafana:
    image: grafana/grafana:latest
    container_name: project-4-monitoring-grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - monitoring

  webapp:
    build: ../cicd-mini-project/app
    container_name: my-webapp
    ports:
      - "3001:3001"
    networks:
      - monitoring

networks:
  monitoring:
    driver: bridge
