global:
  scrape_interval: 5s

scrape_configs:
  # Monitor Prometheus itself
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Monitor your Node.js web app from Project 2
  - job_name: 'my-webapp'
    static_configs:
      - targets: ['webapp:3001']

